<section>
    <div class="card d-flex flex-row">
        <img src="{{vm.pokemon.image}}" alt="Card image cap" height="400px" width="400px">
        <div class="card-body">
            <h4 class="card-title">{{vm.pokemon.name | uppercase}}</h4>
            <p>Weight: {{vm.pokemon.weight}}</p>
            <p>HP: {{vm.pokemon.hp}}</p>
            <p>Attack: {{vm.pokemon.attack}}</p>
            <p>Defense: {{vm.pokemon.defense}}</p>
            <p>Speed: {{vm.pokemon.speed}}</p>
            <p class="card-text"></p>
        </div>            
    </div>
</section>